<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.temobi.complex.entity.ApplicationCount">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<resultMap id="sql_resuleMap" type="ApplicationCount">
			<id property="id" column="id" />
			<result property="applicationId" column="applicationId" />
			<result property="clientId" column="clientId" />
			<result property="type" column="type" />
			<result property="createdWhen" column="created_when" />
	</resultMap>

	<sql id="sql_selectAll">
		select * from emoji_application_count
	</sql>

	<sql id="sql_where">
		<where>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(applicationId)">and applicationId = #{applicationId}</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(clientId)">and clientId = #{clientId}</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(type)">and type = #{type}</if>
        </where>
	</sql>
	
	<select id="findAll" resultMap="sql_resuleMap" useCache="false">
	<include refid="sql_selectAll"/>
	<include refid="sql_where"/>
	ORDER BY created_when desc
	</select>
	
	<select id="getById" parameterType="Long" resultMap="sql_resuleMap" useCache="false">
	<include refid="sql_selectAll"/>
	 where id=#{id}
	</select>
	
	<select id="findByMap" parameterType="map" resultMap="sql_resuleMap" useCache="false">
	<include refid="sql_selectAll"/>
	<include refid="sql_where"/>
	ORDER BY created_when desc
	</select>
	
	<select id="findByPage" parameterType="ApplicationCount" resultMap="sql_resuleMap" useCache="false">
	<include refid="sql_selectAll"/>
	<include refid="sql_where"/>
	ORDER BY created_when desc limit #{limit} offset #{offset}
	</select>
	
	<select id="count" resultType="long" useCache="false">
		SELECT count(*) FROM emoji_application_count 
		<include refid="sql_where"/>
    </select>
    
	<insert id="insert" parameterType="ApplicationCount" useGeneratedKeys="true" keyProperty="id">
	insert into emoji_application_count(applicationId,clientId,type,created_when)
	values(#{applicationId},#{clientId},#{type},now())
	</insert>
	
	<update id="update" parameterType="ApplicationCount">
	  UPDATE emoji_application_count
        <set>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(applicationId)"> applicationId = #{applicationId},</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(clientId)"> clientId = #{clientId},</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(type)"> type = #{type},</if>
		 </set>
        <where>
            <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(id)">
                id=#{id}
            </if>
        </where>
	</update>
	
	<delete id="delete" parameterType="Long" flushCache="true">
		delete from emoji_application_count where id = #{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteByIds" parameterType="list" flushCache="true">
		DELETE FROM emoji_application_count
		<where>
				id in
				<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
					#{item}
        		</foreach>
		</where>
	</delete>
	
</mapper>
