<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.temobi.complex.entity.CirclePostPraises">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<resultMap id="sql_resuleMap" type="CirclePostPraises">
			<id property="id" column="praise_id" />
			<result property="circlePostId" column="circlePostId" />
			<result property="type" column="type" />
			<result property="userId" column="userId" />
			<result property="remark" column="remark" />
			<result property="createdWhen" column="createdWhen" />
	</resultMap>

	<sql id="sql_selectAll">
		select * from circlePostPraises
	</sql>

	<sql id="sql_where">
		<where>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(circlePostId)">and circlePostId = #{circlePostId}</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(userId)">and userId = #{userId}</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(type)">and type = #{type}</if>
        </where>
	</sql>
	
	<select id="findAll" resultMap="sql_resuleMap" useCache="false">
	<include refid="sql_selectAll"/>
	<include refid="sql_where"/>
	ORDER BY createdWhen desc
	</select>
	
	<select id="getById" parameterType="Long" resultMap="sql_resuleMap" useCache="false">
		<include refid="sql_selectAll"/>
		 where Id=#{id}
	</select>
	
	<select id="findByMap" parameterType="map" resultMap="sql_resuleMap" useCache="false">
		<include refid="sql_selectAll"/>
		<include refid="sql_where"/>
		ORDER BY createdWhen desc
	</select>
	
	<select id="findIdList" parameterType="map" resultType="long" useCache="false">
		SELECT userId FROM circlePostPraises WHERE circlePostId = #{circlePostId} AND type=#{type} AND userId IS NOT NULL 
		order by createdWhen desc
		<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(limit)">limit #{limit}</if>
	</select>
	
	<select id="findByPage" parameterType="CirclePostPraises" resultMap="sql_resuleMap" useCache="false">
		<include refid="sql_selectAll"/>
		<include refid="sql_where"/>
		ORDER BY createdWhen desc limit #{limit} offset #{offset}
	</select>
	
	<select id="count" resultType="long" useCache="false">
		SELECT count(*) FROM circlePostPraises 
		<include refid="sql_where"/>
    </select>
    
	<insert id="insert" parameterType="CirclePostPraises" useGeneratedKeys="true" keyProperty="id">
		insert into circlePostPraises(circlePostId,type,userId,remark,createdWhen)
		values(#{circlePostId},#{type},#{userId},#{remark},now())
	</insert>
	
	<update id="update" parameterType="CirclePostPraises">
	    UPDATE circlePostPraises
        <set>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(circlePostId)"> circlePostId = #{circlePostId},</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(type)"> type = #{type},</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(userId)"> userId = #{userId},</if>
		 <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(remark)"> remark = #{remark},</if>
		 </set>
        <where>
            <if test="@cn.temobi.core.util.StringUtil@isNotEmpty(id)">
                Id=#{id}
            </if>
        </where>
	</update>
	
	<delete id="delete" parameterType="Long" flushCache="true">
		delete from circlePostPraises where Id = #{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteByIds" parameterType="list" flushCache="true">
		DELETE FROM circlePostPraises
		<where>
				Id in
				<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
					#{item}
        		</foreach>
		</where>
	</delete>
	
	<insert id="insertList" useGeneratedKeys="true" parameterType="list">  
     	insert into circlePostPraises(circlePostId,type,userId,remark,createdWhen)
	values
       <foreach collection="list" item="item" index="index" separator="," >  
           (#{item.circlePostId},#{item.type},#{item.userId},#{item.remark},now())
       </foreach>  
    </insert>  
</mapper>
