<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.temobi.complex.entity.SysPackage">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<resultMap type="SysPackage" id="sql_resultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="content" column="content" />
		<result property="code" column="code" />
		<result property="score" column="score" />
		<result property="experience" column="experience" />
		<result property="charm" column="charm"/>
		<result property="originality" column="originality"/>
		<result property="credit" column="credit"/>
		<result property="price" column="price" />
		<result property="isSuggest" column="isSuggest" />
		<result property="status" column="status" />
		<result property="validDate" column="validDate" />
		<result property="creatWhen" column="creatWhen" />
		<result property="updateWhen" column="updateWhen" />
	</resultMap>
	
	<sql id="sql_selectAll">
		select * from sys_package 
	</sql>
	
	<sql id="sql_where">
		<where>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(code)">and code like "%"#{code}"%"</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(name)">and name like "%"#{name}"%"</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(content)">and content like "%"#{content}"%"</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(price)">and price = #{price}</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(status)">and status = #{status}</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(validDate)">and validDate = #{validDate}</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(privilegeId)">
				and id in (SELECT spp.packageId FROM sys_privilege_package spp WHERE spp.privilegeId= #{privilegeId} )
			</if>
		</where>
	</sql>
	
	<select id="count" resultType="Long" useCache="false">
		select count(*) from sys_package
		<include refid="sql_where"></include>
	</select>
	
	<select id="getById" resultMap="sql_resultMap" useCache="false">
		<include refid="sql_selectAll"></include>
		where id=#{id}
	</select>
	
	<select id="findByPage" useCache="false"  resultMap="sql_resultMap">
		<include refid="sql_selectAll"></include>
		<include refid="sql_where"></include>
		order by id limit #{limit} offset #{offset}
	</select>
	
	<select id="findByMap" parameterType="map" resultMap="sql_resultMap" useCache="false">
		<include refid="sql_selectAll"/>
		<include refid="sql_where"/>
		order by price asc
	</select>
	
	<select id="findAll" useCache="false"  resultMap="sql_resultMap">
		<include refid="sql_selectAll"></include>
		<include refid="sql_where"></include>
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into sys_package(name,content,code,price,score,experience,charm,originality,credit,validDate,status,isSuggest,creatWhen,updateWhen) 
		 values(#{name},#{content},#{code},#{price},#{score},#{experience},#{charm},#{originality},#{credit},#{validDate},#{status},#{isSuggest},NOW(),#{updateWhen} )
	</insert>
	
	<update id="update" >
		update sys_package
		<set>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(name)">name=#{name},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(code)">code=#{code},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(content)">content=#{content},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(status)">status=#{status},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(isSuggest)">isSuggest=#{isSuggest},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(price)">price=#{price},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(score)">score=#{score},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(experience)">experience=#{experience},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(charm)">charm=#{charm},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(originality)">originality=#{originality},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(credit)">credit=#{credit},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(validDate)">validDate=#{validDate},</if>
			<if test="@cn.temobi.core.util.StringUtil@isNotEmpty(updateWhen)">updateWhen=#{updateWhen},</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" flushCache="true">
		delete from sys_package where id=#{id}
	</delete>
	
</mapper>