<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>网红大赛</title>
    <link rel="stylesheet" href="../../jsproot/RedNet/css/aui.css">
    <link rel="stylesheet" href="../../jsproot/RedNet/css/weui.css">
    <link rel="stylesheet" href="../../jsproot/RedNet/css/weui2.css">
    <link rel="stylesheet" href="../../jsproot/RedNet/css/dropload.css">
    <link rel="stylesheet" href="../../jsproot/RedNet/css/style.css">
</head>
<body style="background:#fbf0ef">
    <div id="indApp">
        <div class="i-top">
            
        </div>
        <div class="aui-row aui-row-padded i-row" id="showActionSheet">
            <div class="aui-col-xs-4">
                <div class="i-num-name">参与选手</div>
                <div class="i-num" v-text="csNum"></div>
            </div>
            <div class="aui-col-xs-4 i-center">
                <div class="i-num-name">累计投票</div>
                <div class="i-num" v-text="tpNum"></div>
            </div>
            <div class="aui-col-xs-4">
                <div class="i-num-name">访问量</div>
                <div class="i-num" v-text="fwNum"></div>
            </div>
        </div>
        <div class="i-search">
            <i class="aui-iconfont aui-icon-search i-search-img"></i>
            <input type="text" class="i-search-inp"/>
            <div class="i-search-btn">搜索</div>
            <div class="search-zz" v-on:click="showPop"></div>
        </div>
    
        <div class="i-sm">
            <div class="sm-item" v-for="item in supporter" >
                <div class="sm-num" v-text="item.id"></div>
                <img class="sm-img" v-bind:src="item.firstImage" alt="" v-on:click="showInfo(item.id)">
                <div class="sm-con">
                    <div class="sm-name" v-text="item.name"></div>
                    <div class="sm-count"><span class="sm-count-num" v-text="item.count"></span><span class="sm-piao">票</span></div>
                    <div class="sm-btn" v-on:click="sendFab(item.id,item.name)">投票</div>
                </div>
            </div>
        </div>




        <div id="actionSheet_wrap">
            <div class="weui_mask_transition" id="mask"></div>
            <div class="weui_actionsheet" id="weui_actionsheet">
                <div class="weui_actionsheet_cell"><span v-text="seleclUser.name"></span> <i id="actionsheet_cancel"></i></div>
                <div class="weui_actionsheet_menu">
                    <div class="i-lw-list">
                        <div class="i-lw-h" v-on:click="selLw(1)">
                            <img alt="" v-bind:src="hImg">
                            <div class="i-pop-tit-one">免费鲜花</div>
                            <div class="i-pop-tit-two">每天1票</div>
                        </div>
                        <div class="i-lw-x" v-on:click="selLw(2)">
                            <img v-bind:src="xImg" alt="">
                            <div class="i-pop-tit-one">打CALL助力+10</div>
                            <div class="i-pop-tit-two">数量不限</div>
                        </div>
                    </div>
                    <div class="i-num" v-if="type == 2">
                        <p class="i-num-tit">输入或者修改礼物数量</p>
                        <div class="i-num-num">
                            <div class="num-btn i-j-num" v-on:click="reduce">-</div>
                            <input type="number" class="i-num-val" v-model="number">
                            <div class="num-btn i-p-num" v-on:click="add">+</div>
                        </div>
                    </div>
                    <div class="ind-btn" style="padding:10px 30px 20px 30px">
                        <div class="aui-btn aui-btn-block" v-on:click="sendInfo(seleclUser.id)">支持投票</div>
                    </div>
                    <p class="i-pop-b">本活动最终解释权归红U联盟组委会所有</p>
                </div>
            </div>
        </div>


        <div class="i-search-con" v-if="isShow">
            <div class="search-con">
                <div class="i-s-c">
                    <i class="i-search-icon"></i>
                    <input type="text" class="i-search-con-inp" placeholder="请输入选手姓名或者编号查询" v-model="searchVal"/>
                    <i class="i-search-close" v-on:click="clearVal"></i>
                </div>
                <div class="i-search-cancel" v-on:click="cancelSer">取消</div>
            </div>
            <div class="i-search-info" v-bind:class="{'isearch-bg': searchArr.length == 0}">
                <div class="i-s-null" v-if="searchArr.length == 0">
                    <img src="../../jsproot/RedNet/images/null.png" alt="">
                    <p>喵~~~这里什么也没发现</p>
                </div>
                <ul style="padding:0 10px">
                    <li class="sm-item" v-for="item in searchArr"  v-on:click="showInfo(item.id)">
                        <div class="sm-num" v-text="item.id"></div>
                        <img class="sm-img" v-bind:src="item.img" alt="">
                        <div class="sm-con">
                            <div class="sm-name" v-text="item.name"></div>
                            <div class="sm-count"><span class="sm-count-num" v-text="item.pNum"></span><span class="sm-piao">票</span></div>
                            <div class="sm-btn" v-on:click="sendFab(item.id)">投票</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="pop-success" v-if="showTPSuc">
            <div class="pop-suc-con p-tpcg">
                <div class="close-btn-tpcg" v-on:click="gbtpcg"></div>
                <div class="pop-wtdc-btn" v-on:click="wtdc"></div>
                <div class="pop-wybm-btn" v-on:click="wybm"></div>
            </div>
        </div>

        
        <div class="pop-success" v-if="showTPOverSuc">
            <div class="pop-suc-con p-tpwk">
                <div class="close-btn-tpcg" v-on:click="gbtpcg"></div>
                <div class="pop-wtdc-btn" v-on:click="wtdc"></div>
                <div class="pop-wybm-btn" v-on:click="wybm"></div>
            </div>
        </div>

        
        <div class="pop-success" v-if="showTPCallSuc">
            <div class="pop-suc-con p-call-suc">
                <div class="close-btn-tpcg" v-on:click="gbtpcg"></div>
                <div class="pop-wtdc-btn" v-on:click="wtdc"></div>
                <div class="pop-wybm-btn" v-on:click="wybm"></div>
            </div>
        </div>
    </div>

    <script src="../../jsproot/RedNet/js/plugins/zepto.min.js"></script>
    <script src="../../jsproot/RedNet/js/plugins/vue.min.js"></script>
    <script src="../../jsproot/RedNet/js/plugins/aui-popup.js"></script>
    <script src="../../jsproot/RedNet/js/plugins/dropload.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>  
    <script type="text/javascript">  
	    //参数是后台传过来的，签名加密，随机数，时间戳等全部后台处理好  
	    function onBridgeReady(p, uId){  
	    	var price = p;
	    	var userId = uId;
           $.post('/sshc/client/weiChatAppointment/getRechargePayParam?price='+price+'&userId=' + userId,function(data){
				if(data != null){
		            
		             var appId =  '';  
		             var timeStamp = '';  
		             var nonceStr =  '';   
		             var paypackage = '';  
		             $.each(eval(data), function(i, item) {  
		             	  appId =  item.appId;  
			              timeStamp = item.paytimestamp;
			              nonceStr = item.paynonceStr;  
			              paypackage = item.paypackage;  
			              sign = item.paySign; 
                    }); 
					 
                     wx.ready(function(){  
			            wx.chooseWXPay({  
				                timestamp: timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符  
				                nonceStr: nonceStr, // 支付签名随机串，不长于 32 位  
				                package: paypackage, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）  
				                signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'  
				                paySign: sign, // 支付签名  
				                success: function (res) {  
				                    // 支付成功后的回调函数  
				                    //使用以下方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。  
				                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {       
		                                  alert("支付成功");                
		                             }else{  
		                                  alert("支付失败");  
		                                  alert(res.err_msg);
		                             }  
				                }  
				            });  
            		   });  
            		   
				}
			});
	    }
	</script>  
	
    <script src="../../jsproot/RedNet/js/script/index.js"></script>
</body>
</html>