<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我支持的</title>
    <link rel="stylesheet" href="../../jsproot/RedNet/css/aui.css">
    <link rel="stylesheet" href="../../jsproot/RedNet/css/weui.css">
    <link rel="stylesheet" href="../../jsproot/RedNet/css/dropload.css">
    <link rel="stylesheet" href="../../jsproot/RedNet/css/style.css">
    <style>
    	.sm-body{
    		position:absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
    	}
    </style>
</head>
<body style="background:#fbf0ef">
     <div id="smApp" class="sm-body">
         <div class="sm-item" v-for="(item,$index) in supporter">
             <div class="sm-num" v-text="item.netRedUserId"></div>
             <img class="sm-img" v-bind:src="item.firstImage" alt="">
             <div class="sm-con">
                 <div class="sm-name" v-text="item.netRedUserName"></div>
                 <div class="sm-count"><span class="sm-count-num" v-text="item.count"></span><span class="sm-piao">票</span></div>
                 <div class="sm-btn" v-on:click="sendFab(item.netRedUserId,item.netRedUserName,item.firstImage,item.thanksWord,$index)">投票</div>
             </div>
         </div>


         <div id="actionSheet_wrap">
             <div class="weui_mask_transition" id="mask"></div>
             <div class="weui_actionsheet" id="weui_actionsheet">
                 <div class="weui_actionsheet_cell">支持小朵朵网红 <i id="actionsheet_cancel"></i></div>
                 <div class="weui_actionsheet_menu">
                     <div class="i-lw-list">
                         <div class="i-lw-h" v-on:click="selLw(1)">
                             <img alt="" v-bind:src="hImg">
                             <div class="i-pop-tit-one">免费鲜花</div>
                             <div class="i-pop-tit-two">每天1票</div>
                         </div>
                         <div class="i-lw-x" v-on:click="selLw(2)">
                             <img v-bind:src="xImg" alt="">
                             <div class="i-pop-tit-one">打CALL助力+10</div>
                             <div class="i-pop-tit-two">数量不限</div>
                         </div>
                     </div>
                     <div class="i-num" v-if="type == 2">
                         <p class="i-num-tit">输入或者修改礼物数量</p>
                         <div class="i-num-num">
                             <div class="num-btn i-j-num" v-on:click="reduce">-</div>
                             <input type="number" class="i-num-val" v-model="number">
                             <div class="num-btn i-p-num" v-on:click="add">+</div>
                         </div>
                     </div>
                     <div class="ind-btn" style="padding:10px 30px 20px 30px">
                         <div class="aui-btn aui-btn-block" v-on:click="sendInfo">支持投票</div>
                     </div>
                     <p class="i-pop-b">本活动最终解释权归红U联盟组委会所有</p>
                 </div>
             </div>
         </div>



         
        <div class="pop-success" id="showTPSuc" style="display: none">
            <div class="share-btn"></div>
            <div class="pop-suc-con">
                <div class="close-btn-con">
                    <div class="close-btn-img" v-on:click="gbtpcg"></div>
                </div>
                <div class="msg-tpcg-con">

                </div>
                <div class="pop-tp-btns">
                    <div class="pop-wtdc-btn" v-on:click="wtdc"></div>
                    <div class="pop-wybm-btn" v-on:click="wybm"></div>
                </div>
            </div>
        </div>

        
        <div class="pop-success" id="showTPOverSuc" style="display: none">
            <div class="pop-suc-con">
                <div class="close-btn-con">
                    <div class="close-btn-img" v-on:click="gbtpcg"></div>
                </div>
                <div class="msg-tpgz-con">

                </div>
                <div class="pop-tp-btns">
                    <div class="pop-wtdc-btn" v-on:click="wtdc"></div>
                    <div class="pop-wybm-btn" v-on:click="wybm"></div>
                </div>
            </div>
        </div>

        
        <div class="pop-success" id="showTPCallSuc" style="display: none">
            <div class="pop-suc-con">
                <div class="close-btn-con dc">
                    <div class="close-btn-img dc" v-on:click="gbtpcg"></div>
                </div>
                <div class="msg-dc-con">
                    <div class="pop-herad"><div class="xk"></div><img v-bind:src="seleclUser.img" alt=""></div>
                    <div class="dc-con" v-text="seleclUser.thanksWord"></div>
                    <div class="pop-wtdc-btn dc" v-on:click="wtdc"></div>
                    <div class="pop-wybm-btn dc" v-on:click="wybm"></div>
                </div>
            </div>
        </div>
        
    </div>

     </div>
    <script src="../../jsproot/RedNet/js/plugins/vue.min.js"></script>
    <script src="../../jsproot/RedNet/js/plugins/zepto.min.js"></script>
    <script src="../../jsproot/RedNet/js/plugins/dropload.min.js"></script>
    <script src="../../jsproot/RedNet/js/script/meSupport.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>  
    <script type="text/javascript">  
	    //参数是后台传过来的，签名加密，随机数，时间戳等全部后台处理好  
	    function onBridgeReady(price, cb){ 
	    price = 0.01; 
           $.post('/diys/clientNew/weixin/payRecharge?price='+price,function(data){
				if(data != null){
		            
		             var appId =  '';  
		             var timeStamp = '';  
		             var nonceStr =  '';   
		             var paypackage = '';  
		             $.each(eval(data), function(i, item) {  
		             	  appId =  item.appId;  
			              timeStamp = item.paytimestamp;
			              nonceStr = item.paynonceStr;  
			              paypackage = item.paypackage;  
			              sign = item.paySign; 
                    }); 
					
                     wx.ready(function(){  
			            wx.chooseWXPay({  
				                timestamp: timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符  
				                nonceStr: nonceStr, // 支付签名随机串，不长于 32 位  
				                package: paypackage, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）  
				                signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'  
				                paySign: sign, // 支付签名  
				                success: function (res) {  
				                    // 支付成功后的回调函数  
				                    //使用以下方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。  
				                    cb && cb.call(this)
				                    // 支付成功后的回调函数  
				                    //使用以下方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。  
				                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {       
		                                 // alert("支付成功");                
		                             }else{  
		                                //  alert("支付失败");  
		                                //  alert(res.err_msg);
		                             }  
				                }  
				            });  
            		   });  
            		   
            		   
				}
			});
	    }
	</script>  
</body>
</html>